body {
    margin: 0;
    background: #222;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.container{
    width: 80%;
    margin: 0 auto;

}

header{
    background: #23416cec
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo {
    width: 5%;
    float: left;
   
}
nav {
    float: right;
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 75px;
    padding-top: 35px;
    
    position: relative;

}
.h1, h1 {
    color: white;
    font-size:xx-large; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    text-decoration: none;
    color: rgb(5, 5, 5);
    width:4.5em;
    height: 1.5em;
    border: 5px solid #808080;
    background-color: #cccccc;
    display: flex;
    border-radius: 15px;
    font-size: 20px;
    position: center;
    bottom: 30px;

}
.side {
    color: white;
    font-size:x-large; 
    display: flex;
    margin-left: 570px;
    align-items:baseline;
}
.line{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sum {
    color: white;
    margin-left: 580px;
    margin-right: 550px;
    display: flex;
    align-items: center;
}
.contact  {
    color: white;
    font-size:large; 
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}
nav a:hover{
    color:rgb(255, 255, 255);
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ffffffec;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width:100%;
}